[flake8]
max-line-length = 120
max-complexity = 18
select = ANN,B,C,E,F,Q0,W,T4,B9
inline-quotes = double
avoid-escape = False
suppress-none-returning = True
ignore = ANN101,ANN102,W503
per-file-ignores =
    gnn/*/__init__.py: F401
    gnn/data_generator/data_process/utils/graph_utils.py: ANN201, ANN001, C901, ANN202, ANN204
exclude =
    submodule_*
    gnn/models/networks
    tests/*

